services:
  app:
    image: node:20-alpine
    container_name: nestjs_app
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: sh -c "npm install && npm run start:dev"
    ports:
      - "${APP_PORT}:3000"
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      API_KEY: ${API_KEY:-secret-key-123}
      DATABASE_HOST: ${DB_HOST}
      DATABASE_PORT: 5432
      DB_PORT: 5432
      DATABASE_USER: ${DB_USER}
      DATABASE_PASSWORD: ${DB_PASSWORD}
      DATABASE_NAME: ${DB_NAME}
    depends_on:
      - db
      - redis

  redis:
    image: redis:7-alpine
    container_name: nestjs_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  db:
    image: postgres:15
    container_name: ${DB_CONTAINER_NAME}
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  redis_data:
